.btn{
    color: white;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}
.deleteBtn{
    background-color: hsl(0, 100%, 35%);

}
.cancelBtn{
    background-color: hsl(0, 0%, 25%);
}
.saveBtn{
    background-color: hsl(0, 0%, 25%);
    font-size: 1.2rem;
}